@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
  /* background-color: hsl(165, 74%, 62%); */
  background: rgb(98, 247, 98);
  background: radial-gradient(
    circle,
    rgba(98, 247, 98, 1) 0%,
    rgba(45, 190, 154, 1) 100%
  );
  overflow-x: hidden;
}
.container {
  width: 100vw;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-container {
  height: 45rem;
  width: 35rem;
  display: grid;
  grid-template-rows: 0.05fr 1fr 1fr 2fr 1fr;
  padding: 2rem;
  box-shadow: 0 0.3rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background-color: #fff;
  position: relative;
  overflow: scroll;
  margin-top: -7.5rem;
}
.main-container-new {
  width: 100rem;
  height: 47.5rem;
  margin-top: -4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  box-shadow: 0 0.3rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background-color: #fff;
  position: relative;
  overflow: scroll;
  width: 100rem;
  height: 52.5rem;
  margin-top: -2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 2rem;
  box-shadow: 0 0.3rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background-color: #fff;
  position: relative;
  overflow: scroll;
  grid-template-rows: 1fr;
}
.sub-cont {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 9fr;
  padding-bottom: 2rem;
}
.sub-cont-1 {
  border-right: 1px solid #bbb;
}
.sub-cont-2 {
  border-left: 1px solid #bbb;
  padding-left: 2.5rem;
}
.sub-cont-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.sub-cont-name {
  font-size: 2rem;
  color: #444;
}
.sub-cont-status {
  font-size: 1.75rem;
  color: #444;
}
.sub-cont-main {
  display: grid;
  grid-template-rows: 6fr 4fr;
  gap: 2rem;
}
.sub-cont-bat {
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  /* display: flex;
  flex-direction: column; */
  position: relative;
}
.sub-cont-img {
  width: 2.2rem;
  height: 2.2rem;
  position: absolute;
  top: -0.6rem;
  left: 0;
}
.batter {
  display: grid;
  grid-template-columns: 1fr 12fr 3fr 3fr 3fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
}
.batter-active {
  padding-top: 0.6rem;
}
.batter-name {
  text-align: start;
  padding-left: 2rem;
}
.extra {
  display: grid;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2.5rem;
  font-size: 1rem;
  grid-row: -1;
}
.sub-cont-ball {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}
.bowler {
  display: grid;
  grid-template-columns: 1fr 12fr 3fr 3fr 3fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
}
.bowler-name {
  text-align: start;
  padding-left: 2rem;
}
.sub-cont-headers {
  color: #999 !important;
}

.sub-cont-status-over {
  font-size: 0.8rem;
}
.sub-cont-status-bar {
  display: flex;
  gap: 1rem;
}
.score {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem;
  color: #666;
}
.main-score {
  font-size: 3.2rem;
}
.ovr {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}
.player {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem;
  display: none;
}
.head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #666;
}
.name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #666;
  font-size: 1rem;
  padding-left: 2rem;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  color: #666;
  font-size: 1rem;
}
.bat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #666;
  gap: 1rem;
}
.bowl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #666;
}
.btns {
  padding: 1rem;
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.other-btn {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 1rem 2rem;
  gap: 2rem;
}
.main-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 2rem;
  gap: 2rem;
}
.btn {
  border: 2px solid #666;
  background-color: #fff;
  color: #666;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.btn--wicket {
  grid-column: 1/-1;
}
.btn:hover {
  background-color: #999;
  color: #fff;
}
.btn:active {
  transform: translate(0%, 20%);
}
.other {
  color: #666;
  padding: 2rem;
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 6fr 3fr;
  gap: 0.5rem;
  grid-template-rows: 6fr 2fr;
  align-items: center;
  justify-content: center;
}
.inn {
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
}
.the {
  grid-column: 2/3;
}
.lead {
  padding: 1rem;
}
.target_cont {
  margin-left: 1rem;
}
.runrate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}
.new {
  padding: 0.5rem;
  position: absolute;
  top: 5%;
  right: 3%;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.Feed {
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  bottom: 1rem;
  left: 1rem;
}
.player-name {
  font-size: 1.5rem;
  color: #666;
}

.hidden {
  display: none;
}

.form {
  background-color: #fff;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 3rem rgba(0, 0, 0, 0.09);
  width: 22.5rem;
  height: 30rem;
  justify-content: space-around;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#feed {
  position: absolute;
  top: 5%;
  left: 3%;
  padding: 0.5rem;
  text-decoration: none;
  color: #999;
  font-size: 1.25rem;
  border: 2px solid #bbb;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

#feed:hover,
#feed:active {
  background-color: #bbb;
  color: #666;
}

.in {
  border: 2px solid #bbb;
  height: 3rem;
  padding: 1rem;
  border-radius: 0.2rem;
}

#in {
  transition: all 0.3s;
}

#in:hover,
#in:active {
  background-color: #bbb;
  color: #666;
}
.copyright-version {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%);
  color: #999;
  font-size: 0.75rem;
}
.white {
  color: #55e6c1;
}

.ball {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #666;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}
.time_line_const {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}
.ball-add {
  border: none !important;
}
.the {
  margin-left: 1rem;
}
.ball {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #666;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 1rem;
}

.nonedis {
  display: none;
}

/* the new navBar code */

.header {
  width: 100%;
  display: flex;
  height: 7vh;
  align-items: center;
}
.head-nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 2.5rem;
}
.head-nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-btn {
  background-color: transparent;
  padding: 0.3rem 0.6rem;
  color: #666;
  border: none;
  font-weight: 100;
  font-size: 1rem;
  transition: all 0.3s;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-btn:hover,
.nav-btn:active {
  color: #333;
}
.active-nav-btn {
  color: #333;
  border-bottom: 2px solid #333;
}
.mobile-nav-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem 2.5rem;
}
.mobile-nav-icon {
  height: 3rem;
  width: 3rem;
}
.mobile-nav-icon[name='close-outline'] {
  display: none;
}
/* .active .head-nav {
  transform: translateX(0%);
  opacity: 0.97;
  visibility: visible;
  pointer-events: auto;
}
.main_scorecard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.div-batter {
  width: 100%;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #333;
  padding: 1.2rem;
  font-size: 1.2rem;
} */
#info-cont {
  height: 47.5rem;
  margin-top: 2.5rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
}
.info-scr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
  padding: 1rem 2rem;
  display: grid;
  gap: 2rem;
}
label {
  font-size: 1.2rem;
  color: #666;
}
.span {
  font-size: 1rem;
  color: #666;
}
.inp {
  display: grid;
  position: relative;
}
.inp span {
  position: absolute;
  left: 0;
  padding: 1rem;
  pointer-events: none;
  font-size: 1.1rem;
  color: #666;
  transition: 0.3s all;
  border: 2px solid transparent;
}

.inp input:valid ~ span,
.inp input:focus ~ span {
  color: #fff;
  transform: translateX(1rem) translateY(-0.7rem);
  font-size: 0.95rem;
  padding: 0.2rem 1rem;
  background-color: #55e6c1;
  border-radius: 0.5rem;
}

.info-inp {
  border: 2px solid #999;
  outline: none;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #55e6c1;
  font-size: 1.1rem;
}
.info-inp:focus {
  /* border-bottom: 2px solid #55e6c1; */
  border-color: #55e6c1;
}
.checks {
  display: grid;
  align-items: center;
  gap: 1rem;
}
.inp-chk {
  display: flex;
  gap: 2rem;
}

.ques {
  font-size: 1.2rem;
  color: #666;
}
.wrapper-cont {
  display: grid;
  gap: 1rem;
}
.next {
  margin: 1rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: #666;
  border: 2px solid #999;
  background-color: white;
  transition: 0.3s all;
  height: 3rem;
  cursor: pointer;
}
.next:hover,
.next:active {
  color: #55e6c1;
  border-color: #55e6c1;
}
.chk {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  border-radius: 0.4rem;
}
.none {
  display: none !important;
}
.info-2 {
  display: grid;
  /* height: 100%; */
}
.next-2 {
  position: absolute;
  bottom: 4rem;
  width: 75%;
  justify-self: center;
}
.common {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 10rem;
}
.border1 {
  /* border: 1px solid black; */
  /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.09); */
}
.opaque {
  opacity: 0;
  pointer-events: none;
}
