* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
body {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
  background-color: hsl(165, 74%, 62%);
  overflow-x: hidden;
}
.container {
  width: 100vw;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-container {
  height: 40rem;
  width: 35rem;
  display: grid;
  grid-template-rows: 0.05fr 1fr 1fr 2fr 1fr;
  padding: 2rem;
  box-shadow: 0 0.3rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background-color: #fff;
  position: relative;
  margin-top: -7.5rem;
}
.score {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem;
  color: #666;
}
.main-score {
  font-size: 3.2rem;
}
.ovr {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}
.player {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem;
  display: none;
}
.head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #666;
}
.name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #666;
  font-size: 1rem;
  padding-left: 2rem;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  color: #666;
  font-size: 1rem;
}
.bat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #666;
  gap: 1rem;
}
.bowl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #666;
}
.btns {
  padding: 1rem;
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.other-btn {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 1rem 2rem;
  gap: 2rem;
}
.main-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 2rem;
  gap: 2rem;
}
.btn {
  border: 2px solid #666;
  background-color: #fff;
  color: #666;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.btn--wicket {
  grid-column: 1/-1;
}
.btn:hover {
  background-color: #999;
  color: #fff;
}
.btn:active {
  transform: translate(0%, 20%);
}
.other {
  color: #666;
  padding: 2rem;
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 6fr 3fr;
  gap: 0.5rem;
  grid-template-rows: 6fr 1fr;
}
.inn {
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
}
.lead {
  padding: 1rem;
}
.target_cont {
  margin-left: 1rem;
}
.runrate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}
.new {
  padding: 0.5rem;
  position: absolute;
  top: 5%;
  right: 3%;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.Feed {
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  bottom: 1rem;
  left: 1rem;
}
.player-name {
  font-size: 1.5rem;
  color: #666;
}

.hidden {
  display: none;
}

.form {
  background-color: #fff;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 3rem rgba(0, 0, 0, 0.09);
  width: 22.5rem;
  height: 30rem;
  justify-content: space-around;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#feed {
  position: absolute;
  top: 5%;
  left: 3%;
  padding: 0.5rem;
  text-decoration: none;
  color: #999;
  font-size: 1.25rem;
  border: 2px solid #bbb;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

#feed:hover,
#feed:active {
  background-color: #bbb;
  color: #666;
}

.in {
  border: 2px solid #bbb;
  height: 3rem;
  padding: 1rem;
  border-radius: 0.2rem;
}

#in {
  transition: all 0.3s;
}

#in:hover,
#in:active {
  background-color: #bbb;
  color: #666;
}
.copyright-version {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%);
  color: #999;
  font-size: 0.75rem;
}
.white {
  color: #55e6c1;
}

.ball {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #666;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}
.time-line {
  display: flex;
  align-items: center;
  justify-content: center;
}
.the {
  margin-left: 1rem;
}
.time_line {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.ball {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #666;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 1rem;
}

.nonedis {
  display: none;
}

/* the new navBar code */

.header {
  width: 100%;
  display: flex;
  height: 7vh;
  align-items: center;
}
.head-nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 2.5rem;
}
.head-nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.head-nav-li {
}
.nav-btn {
  background-color: transparent;
  padding: 0.3rem 0.6rem;
  color: #666;
  border: none;
  font-weight: 100;
  font-size: 1rem;
  transition: all 0.3s;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-btn:hover,
.nav-btn:active {
  color: #333;
}
.active-nav-btn {
  color: #333;
  border-bottom: 2px solid #333;
}
.mobile-nav-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem 2.5rem;
}
.mobile-nav-icon {
  height: 3rem;
  width: 3rem;
}
.mobile-nav-icon[name="close-outline"] {
  display: none;
}
