@media (max-width: 54em) {
  .container {
    position: absolute;
  }
  .main-container {
    position: relative;
  }
  .new {
    top: 10px;
    left: auto;
    right: 10px;
  }
  .copyright-version{
    bottom: -5%;
  }
}
@media (max-width: 30em) {
  .main-container {
    padding: 0;
  }
  .btns {
    padding: 0;
  }
  .main-btn{
    padding: 0.5rem 1rem;
  }
  .copyright-version{
    bottom: -10%;
  }
  .Feed{
    right: 10%;
    left: auto;
  }
}
